@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 32px;
}

.container--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header {
  height: 800px;
  padding-top: 31px;
  padding-bottom: 100px;
  background-color: #000;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 0 0 54px 54px;
  color: #fff;
}

.header a {
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 54px;
  padding: 0 150px;
}

.nav-list__item {
  text-transform: capitalize;
}

.nav-list__link {
  color: #fff;
  opacity: 0.7;
}

.nav-list__link--active {
  opacity: 1;
}

.user {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.user__content {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
}

.user__greeting {
  opacity: 0.5;
}

.user__name {
  font-weight: 600;
  opacity: 1;
}

.user__avatar {
  height: 48px;
  width: 48px;
  position: relative;
}

.user__avatar::after {
  content: "";
  display: block;
  top: 0;
  right: 0;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff0000;
}

.user__avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.header__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
  color: #ffffff;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 24px;
  height: 72px;
  background: #7b61ff;
  border-radius: 12px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.button:hover {
  background: #6344ff;
}

.form {
  display: flex;
  background: #fff;
  border-radius: 12px;
  height: 88px;
  padding: 8px 8px;
  width: 1140px;
  color: #000;
}

.form__input {
  position: relative;
  flex-grow: 1;
  /* background-color: rgba(138, 13, 239, 0.196); */
  padding: 16px 20px 16px 56px;
  line-height: 1;
}

.form__input::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 24px;
}

.form__input--location::before {
  background-image: url("../img/icons/map.svg");
}

.form__input--activity::before {
  background-image: url("../img/icons/activity.svg");
}

.form__input--when::before {
  background-image: url("../img/icons/calendar.svg");
}

.form__input--guests::before {
  background-image: url("../img/icons/guests.svg");
}

.label {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #5b5b5b;
}

.select {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #161414;
}

/* .custom-select-container {
    width: 224px;
} */

.button-search {
  width: 60px;
  height: 60px;
  align-self: center;
  padding: 18px;
  background: #7b61ff;
  border-radius: 12px;
  font-size: 0;
}

.container-destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 120px;
}

.destinations__content {
  display: flex;
  column-gap: 32px;
  padding-top: 64px;
}

.card__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #161414;
}

.content-card {
  width: 200px;
  height: 180px;
  border-radius: 12px;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
}

.card-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #979797;
}

.container-hotels {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.hotels__content {
  display: flex;
  column-gap: 32px;
  padding-top: 64px;
}

.container-travel {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.travel__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}

.travel-img {
  width: 320px;
  height: 380px;
  border-radius: 24px;
}

.travel-card {
  display: flex;
  column-gap: 32px;
}

.card-desc {
  max-width: 320px;
}

.travel-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 16px;
}

.travel-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5b5b5b;
  text-align: left;
}

.container-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 120px;
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 556px;
}

.about__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5b5b5b;
}

.img-about {
  max-width: 732px;
  max-height: 488px;
  border-radius: 24px;
}
.footer {
  background-color: #f9f9f9;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f9f9f9;
}

.container-footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #5b5b5b;
}

.footer__logo {
  max-width: 354px;
}

.footer-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.footer-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  padding-top: 12px;
}

.footer-text_logo {
  padding-bottom: 32px;
}

.footer__icons {
  display: flex;
  column-gap: 32px;
}

.button-footer {
  width: 72px;
  height: 72px;
}

.footer__subscribe-form {
  display: flex;
  align-items: center;
  padding-top: 25px;
  column-gap: 5px;
}

.footer-input {
  width: 250px;
  height: 42px;
  border: 1px solid #7b61ff;
  border-radius: 12px;
  text-align: center;
}

.menu-btn {
  display: none;
}
.menu-mobile {
  display: none;
}

@media (max-width: 1420px) {
  .destinations__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__title {
    text-align: center;
  }
  .travel__content {
    flex-direction: column;
  }
  .travel-card {
    column-gap: 50px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1400px) {
  .user {
    display: none;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100001;
  }
  .menu-btn span {
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  /* .form--close {
    display: none;
  } */
  .menu-mobile.menu--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    font-size: 50px;
    height: 100vh;
    z-index: 10000;
    text-align: center;
    padding-top: 140px;
  }
  .nav-list {
    display: none;
  }
  .nav {
    padding-top: 20px;
    column-gap: 500px;
  }
}

@media (max-width: 1175px) {
  .header__title {
    font-size: 32px;
    padding-top: 55px;
  }
  .header__form {
    flex-direction: column;
    margin-top: 50px;
    height: 100%;
    width: auto;
  }
  .container-about {
    flex-direction: column;
  }
  .about__title {
    text-align: center;
  }
  .about__img {
    padding-top: 40px;
  }
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .footer-title {
    font-size: 30px;
  }
  .footer-text {
    font-size: 23px;
    padding: 20px 20px;
  }
  .footer__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .nav {
    column-gap: 300px;
  }
  .hotels__content {
    flex-direction: column;
    align-items: center;
  }
  .travel-card {
    flex-direction: column;
  }
  .card-img {
    padding-bottom: 20px;
  }
  .travel-img {
    padding-bottom: 20px;
  }
}
